@model int
@inject ProductRepository productRepo

@{
    var product = await productRepo.GetAsync(x => x.Id == Model);
}



@if(product != null){
        <div>
            <div>@product.Id</div>
            <div>@product.Title</div>
            <div>
                @foreach (var tag in product.ProductTags)
                {
                    <span class="me-2"> @tag.Tag.TagName</span>
                }
            </div>
            <div>@product.Description</div>
    </div>
}
else
{
    <div>
        Ingen produkt hittades
    </div>
}


