@model ShowcaseViewModel



    <section class="showcase">
        <div class="container">
            <div class="content">
                <div class="ingress">@Model?.Ingress</div>
                <div class="title">@Model?.Title</div>

                @if (!string.IsNullOrEmpty(Model?.LinkUrl) && !string.IsNullOrEmpty(Model?.LinkContent))
            {
                <a href="@Model?.LinkUrl" class="btn-theme">@Model?.LinkContent</a>
            }

        </div>
            <div class="content-image">
                <img src="@Model?.ImageUrl"" Alt="@Model?.Title">
            </div>
        </div>
    </section>

